* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/18px 'Open Sans', Arial, sans-serif;
	height: 100%;
	font-weight: 600;
	color: #7f8c8c;
}
a {
	text-decoration: none;
	color: #e2534b;
	font-weight: 600;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.wrapper {
	width: 100%;
	min-width: 1170px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: #f3f3f3;
	padding: 0 0 100px 0;
}

section.row{
	width:1170px;
	position:relative;
	margin:0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
header {
	height: 160px;
}
.head_top {
    width: 100%;
    height: 80px;
    background: #76c7c0 url(../images/header_patt.png) bottom left repeat-x;
}
.head_bot {
    background: #ececec;
    height: 80px;
    width: 100%;
}
.logo {
    font-size: 1.9em;
    float: left;
    line-height: 80px;
    height: 80px;
    color: #fff;
    font-weight: 400;
}
.logo span {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.13em;
}
header i.icon-search {
    float: right;
    color: #fff;
    padding: 30px 0;
    cursor: pointer;
}
nav.main-menu {
    float: right;
    line-height: 80px;
    padding: 0 20px 0 0;
}
nav.main-menu a {
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0 2em;
    line-height: 30px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	-khtml-border-radius: 6px; 
    border-radius: 6px;
    text-align: center;
    font-weight: 400;
}
nav.main-menu a:hover, nav.main-menu a:focus, nav.main-menu a.active {
    background: #62a29e;
	-moz-box-shadow:0 3px #528b86; 
    -webkit-box-shadow:0 3px #528b86; 
    -ms-box-shadow:0 3px #528b86; 
    -o-box-shadow:0 3px #528b86; 
    -khtml-box-shadow:0 3px #528b86; 
    box-shadow: 0 3px #528b86;
}
h1.current-page {
    float: left;
    line-height: 80px;
    text-transform: uppercase;
    color: #7f8c8c;
    position: relative;
    font-weight: 400;
}
nav.breadcrumbs {
    float: right;
    line-height: 80px;
}
nav.breadcrumbs a:after {
    position: absolute;
    content: '/';
    padding: 0 5px;
}
nav.breadcrumbs a {
    padding-right: 11px;
    color: #7f8c8c;
    font-size: 0.9em;
    font-weight: 400;
}
nav.breadcrumbs a:last-child {
    /* padding-right: 0; */
}
nav.breadcrumbs a:last-child:after {
    display:none;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 1170px;
	padding: 110px 0 0 0;
	position: relative;
	margin: 0 auto;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 870px;
	float: left;
	overflow: hidden;
}
.content {
}
.left-article {
    float: left;
    width: 70px;
}
.content-article {
    padding: 0 0px 0 100px;
    font-weight: 400;
}
.left-article time {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 10px;
    font-size: 1.4em;
	-moz-box-shadow:0 3px #e5e6e6; 
    -webkit-box-shadow:0 3px #e5e6e6; 
    -ms-box-shadow:0 3px #e5e6e6; 
    -o-box-shadow:0 3px #e5e6e6; 
    -khtml-box-shadow:0 3px #e5e6e6; 
    box-shadow: 0 3px #e5e6e6;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	-khtml-border-radius: 6px; 
    border-radius: 6px;
    background: #f8f8f8;
    /* height: 80px; */
    font-weight: 300;
}
.left-article time b {
    /* float: left; */
    text-align: center;
    display: block;
    padding-top: 14px;
    font-weight: 800;
}
.left-article i.icon-doc-text {
    font-size: 2em;
    color: #fff;
    background: #7f8c8c;
    display: block;
    line-height: 80px;
    text-align: center;
	-moz-box-shadow:0 3px #e5e6e6; 
    -webkit-box-shadow:0 3px #e5e6e6; 
    -ms-box-shadow:0 3px #e5e6e6; 
    -o-box-shadow:0 3px #e5e6e6; 
    -khtml-box-shadow:0 3px #e5e6e6; 
    box-shadow: 0 3px #e5e6e6;  
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	-khtml-border-radius: 6px; 
    border-radius: 6px;
    margin-top: 18px;
}
h1.current-page:after {
    border-color: #ececec transparent transparent transparent;   
    border-style: solid;   
    border-width: 12px 12px 0 12px;   
    height: 0px;   
    width: 0px;
    position: absolute;
    content:'';
    bottom: -12px;
    left:0
}
.img-article {
    height: 300px;
	-moz-box-shadow:0 3px #e5e6e6; 
    -webkit-box-shadow:0 3px #e5e6e6; 
    -ms-box-shadow:0 3px #e5e6e6; 
    -o-box-shadow:0 3px #e5e6e6; 
    -khtml-box-shadow:0 3px #e5e6e6; 
    box-shadow: 0 3px #e5e6e6;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	-khtml-border-radius: 6px; 
    border-radius: 6px;
	background: #f8f8f8;
}
.img-article i.icon-picture {
    text-align: center;
    display: block;
    line-height: 300px;
    font-size: 7em;
    color: #ececec;
}
h1.title-article {
    color: #76c7c0;
    font-size: 1.7em;
    padding: 38px 0 20px 0;
    font-weight: 600;
}
.timepost span {
    display: inline-block;  padding: 0 34px 0 0;  position: relative;
}
.timepost {
    padding: 0 0 31px 0;
}
.tags-article:first-child:before {
    content: '\e80c';
    position: absolute;
    left: -20px;
    font-family: "fontello";  font-style: normal;  font-weight: normal;  speak: none;  display: inline-block;  text-decoration: inherit;  
    width: 1em;  margin-right: .2em;  text-align: center;  /* opacity: .8; */  font-variant: normal;  text-transform: none;  
    /* line-height: 1em; */  
    margin-left: .2em;  
    color: #76c7c0;
    /* font-size: 120%; */  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */;
}
.comments-article:before {
    content: '\e806';  position: absolute;  left: -20px;  font-family: "fontello";  font-style: normal;  font-weight: normal;  speak: none;  display: inline-block;  text-decoration: inherit;  width: 1em;  margin-right: .2em;  text-align: center;  /* opacity: .8; */  font-variant: normal;  text-transform: none;  /* line-height: 1em; */  margin-left: .2em;  color: #76c7c0;  /* font-size: 120%; */  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */;
}
p.text {
    padding-bottom: 28px;
}
a.read-more {
    color: #e2534b;
    position: relative;
}
a.read-more:after {
    content: '\e803';
    position: absolute;
    right: -25px;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    /* line-height: 1em; */
    margin-left: .2em;
    /* color: #76c7c0; */
    /* font-size: 120%; */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.content article {
    padding-bottom: 47px;
    margin-bottom: 50px;
    border-bottom: 3px solid #e5e6e6;
    width: 870px;
}
.content article:last-child {
    border: none;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: right;
	width: 270px;
	position: relative;
}
aside.right-sidebar ul {
    list-style: none;
}
.side-block h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 800;
    padding-bottom: 25px;
}
aside .categories ul {
    padding-left: 35px;
    line-height: 2em;
    text-transform: uppercase;
}
aside .categories ul li:before {
    position: absolute;
    left: -32px;
    content: '\e807';  position: absolute;    font-family: "fontello";  font-style: normal;  font-weight: normal;  speak: none;  display: inline-block;  text-decoration: inherit;  width: 1em;  margin-right: .2em;  text-align: center;  /* opacity: .8; */  font-variant: normal;  text-transform: none;  /* line-height: 1em; */  margin-left: .2em;  
    color: #76c7c0;  /* font-size: 120%; */  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */;
}
aside .recent ul li:before {
    position: absolute;
    left: 0px;
    content: '\e804';  position: absolute;    font-family: "fontello";  font-style: normal;  font-weight: normal;  speak: none;  display: inline-block;  text-decoration: inherit;  width: 1em;  margin-right: .2em;  text-align: center;  /* opacity: .8; */  font-variant: normal;  text-transform: none;  /* line-height: 1em; */  margin-left: .2em;  
    color: #76c7c0;  /* font-size: 120%; */  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */;
}
aside .categories ul li {
    position: relative;
}
.side-block {
    padding: 0 0 43px 0;
}
.recent ul {
    padding-left: 30px;
}
.recent a time {
    display: block;
    color: #7f8c8c;
    font-size: 0.9em;
    font-weight: 400;
}
.recent ul li {
    padding: 0 20px 14px 0;
    border-bottom: 1px solid  #e5e6e6;
    margin: 0 0 15px 0;
}
.side-block.tags a {
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    background: #7f8c8c;
    display: inline-block;
    margin: 0 0 5px 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	-khtml-border-radius: 6px; 
    border-radius: 6px;
}
.side-block.tags a:hover,.side-block.tags a:focus{
    background:#e2534b;
}

/* Pagination
-----------------------------------------------------------------------------*/


.pagination a {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	-khtml-border-radius: 6px; 
    border-radius: 6px;
    background: #8c9898;
    margin: 0 5px 0 0;
    font-size: 1.3em;
    color: #fff;
}
.pagination a:first-child {
    margin:0 25px 0 0;   
}
.pagination a:last-child {
    margin:0 0 0 20px;   
}
.pagination a i {
}
.pagination a:hover {
    background: #e5655d;
}
.pagination a.active {
    background: #649792;
}
/* Footer
-----------------------------------------------------------------------------*/
footer {
	min-width: 1170px;
	height: 350px;
	background: #76c7c0;
	position: relative;
}
.footer-bot {
    height: 50px;
    background: #6ab3ac;
}
.footer-top {
    height: 300px;
    background: url(../images/footer_patt.png) top left repeat-x;
    color: #fff;
    font-weight: 400;
}
.social {
    float: right;
}
span.copy {
    float: left;
    color: #fff;
    line-height: 50px;
    font-weight: 400;
    font-size: 0.9em;
}
.social a {
    line-height: 50px;
    color: #fff;
    font-size: 1.5em;
    padding-left: 13px;
}
.footer-column {
    padding: 50px 30px 0 0;
    float: left;
    width: 170px;
}
.logo.footl {
    line-height: 22px;
    height: 50px;
    float: none;
}
.footer-column:first-child {
    width: 370px;
}
.footer-top p {
    font-size: 0.9em;
    line-height: 1.9em;
    padding: 0 0 26px 0;
}
span.contact em {
    font-size: 1.4em;
    padding: 0 0 0 0.7em;
}
span.contact {
    display: block;
    padding: 0 0 0.6em 0;
}
footer h1 {
    color: #3b6360;
}
nav.foot-menu {
    padding: 2em 0 0 2.5em;
}
nav.foot-menu a {
    display: block;
    color: #fff;
    line-height: 1.75em;
    position: relative;
    font-weight: 400;
    font-size: 0.9em;
}
nav.foot-menu a:before {
    position: absolute;  
    left: -20px;  content: '\e804';  position: absolute;  font-family: "fontello";  font-style: normal;  font-weight: normal;  speak: none;  display: inline-block;  text-decoration: inherit;  width: 1em;  margin-right: .2em;  text-align: center;  /* opacity: .8; */  font-variant: normal;  text-transform: none;  /* line-height: 1em; */  margin-left: .2em;  
    color: #fff;  /* font-size: 120%; */  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */;
}
